.Navbar {
  background-color: rgb(245, 242, 242);
  box-shadow: 5px 5px 10px rgb(0, 0, 0);
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.logo {
  font-size: 2.5rem;
  font-weight: bold;
}
.logo:hover {
  cursor: pointer;
  color: rgb(39, 164, 164);
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu a {
  font-size: 1.3rem;
  color: #333;
  text-decoration: none;
  padding: 0.5rem;
  margin-left: 30px;
  transition: background-color 0.3s ease;
}

.menu a:hover {
  color: rgb(39, 164, 164);
}

.toggle {
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

@media screen and (max-width: 768px) {
  .menu {
    display: none;
    position: absolute;
    top: 10%;
    left: 0;
    width: 100%;
    background-color: rgb(245, 242, 242);
    flex-direction: column;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }

  .menu.active {
    display: flex;
  }

  .toggle {
    display: block;
  }
}
